doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")   
    title PJ_01

    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    link(rel="stylesheet" media="screen" href="./assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="./assets/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="./assets/css/styles/style.css")

  body 
    include ../partials/header.pug

    block content

    include ../partials/footer.pug

    script(src="//code.jquery.com/jquery.js")
    script(src="./assets/bootstrap/js/bootstrap.min.js")