- 
  var iconNav = ["fab fa-facebook-f", "fab fa-google-plus-g", "fab fa-instagram", "fab fa-twitter"]

- 
  var menuBar = [
    { name: "TRANG CHỦ", href: "/", isActive: true },
    { name: "GIỚI THIỆU", href: "/" },
    { name: "SẢN PHẨM", href: "/product.html" },
    { name: "TIN KHUYẾN MÃI", href: "/" },
    { name: "DỊCH VỤ", href: "/" },
    { name: "LIÊN HỆ", href: "/" },
  ]

-
  var footerBar = [
    {
      name: "VỀ CHÚNG TÔI",
      option: "4",
      list: [
        {
          des: "Công ty cổ phần công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử"
        },
        {
          des: "Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cần Ba Đình - Hà Nội",
          icon: "fas fa-map-marker-alt"
        },
        {
          des: "support@dkt.com.vn",
          icon: "fas fa-envelope"
        },
        {
          des: "(84-4) 66658868 - (84-4) 37868904",
          icon: "fas fa-mobile-alt"
        },
      ]
    },
    {
      name: "CHÍNH SÁCH",
      list: [
        {des:"Chính sách giao hàng"}, 
        {des:"Chính sách chuyển đổi sản phẩm"},  
        {des:"Chính sách bảo hành"}, 
        {des:"Chính sách trả góp"}, 
        {des:"Giới thiệu hàng đổi trả"}, 
        {des:"Vận chuyển miễn phí"}
      ]
    },
    {
      name: "DỊCH VỤ & HỖ TRỢ",
      list: [
        {des:"Hệ thống cửa hàng"},
        {des:"Hướng dẫn mua hàng"}, 
        {des:"Hướng dẫn thanh toán"}, 
        {des:"Tích điểm đổi thưởng"}, 
        {des:"Dịch vụ đổi trả hàng"}, 
        {des:"Câu hỏi thường gặp"}
      ]
    },
    {
      name: "TIN TỨC - SỰ KIỆN",
      list: [
        {des:"Tin tức mới nhất"}, 
        {des:"Tin tức khuyến mãi"},
        {des:"Tuyển dụng, đãi ngộ"},
        {des:"Download tài liệu"},
        {des:"Chương trình đối tác"},
        {des:"Nhà phát triển ứng dụng"}
      ]
    },
    {
      name: "KẾT NỐI",
      list: [
        { des: "Facebook", icon: "fab fa-facebook-f" },
        { des: "Google", icon: "fab fa-google-plus-g" },
        { des: "Instagram", icon: "fab fa-instagram" },
        { des: "Twitter", icon: "fab fa-twitter" },
        { des: "Skype", icon: "fab fa-skype" }
      ]
    }
  ]

-
  var banks = ["./assets/images/imgs/bank1.png","./assets/images/imgs/bank2.png","./assets/images/imgs/bank3.png","./assets/images/imgs/bank4.png","./assets/images/imgs/bank5.png","./assets/images/imgs/bank6.png","./assets/images/imgs/bank7.png","./assets/images/imgs/bank8.png"]