- 
  var iconNav = ["fab fa-facebook-f", "fab fa-google-plus-g", "fab fa-instagram", "fab fa-twitter"]

- 
  var menuBar = [
    { name: "TRANG CHỦ", href: "/", isActive: true },
    { name: "GIỚI THIỆU", href: "/" },
    { name: "SẢN PHẨM", href: "/product.html" },
    { name: "TIN KHUYẾN MÃI", href: "/" },
    { name: "DỊCH VỤ", href: "/" },
    { name: "LIÊN HỆ", href: "/" },
  ]

-
  var footerBar = [
    {
      name: "VỀ CHÚNG TÔI",
      option: "4",
      list: [
        {
          des: "Công ty cổ phần công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử"
        },
        {
          des: "Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cần Ba Đình - Hà Nội",
          icon: "fas fa-map-marker-alt"
        },
        {
          des: "support@dkt.com.vn",
          icon: "fas fa-envelope"
        },
        {
          des: "(84-4) 66658868 - (84-4) 37868904",
          icon: "fas fa-mobile-alt"
        },
      ]
    },
    {
      name: "CHÍNH SÁCH",
      list: [
        {des:"Chính sách giao hàng"}, 
        {des:"Chính sách chuyển đổi sản phẩm"},  
        {des:"Chính sách bảo hành"}, 
        {des:"Chính sách trả góp"}, 
        {des:"Giới thiệu hàng đổi trả"}, 
        {des:"Vận chuyển miễn phí"}
      ]
    },
    {
      name: "DỊCH VỤ & HỖ TRỢ",
      list: [
        {des:"Hệ thống cửa hàng"},
        {des:"Hướng dẫn mua hàng"}, 
        {des:"Hướng dẫn thanh toán"}, 
        {des:"Tích điểm đổi thưởng"}, 
        {des:"Dịch vụ đổi trả hàng"}, 
        {des:"Câu hỏi thường gặp"}
      ]
    },
    {
      name: "TIN TỨC - SỰ KIỆN",
      list: [
        {des:"Tin tức mới nhất"}, 
        {des:"Tin tức khuyến mãi"},
        {des:"Tuyển dụng, đãi ngộ"},
        {des:"Download tài liệu"},
        {des:"Chương trình đối tác"},
        {des:"Nhà phát triển ứng dụng"}
      ]
    },
    {
      name: "KẾT NỐI",
      list: [
        { des: "Facebook", icon: "fab fa-facebook-f" },
        { des: "Google", icon: "fab fa-google-plus-g" },
        { des: "Instagram", icon: "fab fa-instagram" },
        { des: "Twitter", icon: "fab fa-twitter" },
        { des: "Skype", icon: "fab fa-skype" }
      ]
    }
  ]

-
  var banks = ["./assets/images/imgs/bank1.png","./assets/images/imgs/bank2.png","./assets/images/imgs/bank3.png","./assets/images/imgs/bank4.png","./assets/images/imgs/bank5.png","./assets/images/imgs/bank6.png","./assets/images/imgs/bank7.png","./assets/images/imgs/bank8.png"]


//- Homepage
- 
  var contentBanner = [
    {
      name: "MIỄN PHÍ VẬN CHUYỂN",
      des: "Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1000.000 Đ.",
      icon: "fas fa-plane-departure"
    },
    {
      name: "CHÍNH SÁCH ĐỔI TRẢ",
      des: "Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.",
      icon: "fas fa-sync-alt"
    },
    {
      name: "KHUYẾN MẠI HÀNG TUẦN",
      des: "Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mãi lớn.",
      icon: "fas fa-gift"
    },
    {
      name: "CAM KẾT CHÍNH HÃNG",
      des: "Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.",
      icon: "fas fa-thumbs-up"
    }
  ]

- 
  var sideBar = [
    {
      name: "Máy khoan, Cắt CNC",
      icon: "fas fa-th-large",
      isActive: true
    },
    {
      name: "Máy in phun khổ lớn",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy quét Cannon 3D",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy hàn điện Alunima",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan Decameta",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy phay đa năng CNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy mài, tiện DC 12V",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan, cắt DNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan thông minh N3",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Motor R34C đa dụng",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy in laser màu 3D",
      icon: "fas fa-th-large",
      isActive: false
    },
  ]

-
  var listProductHome1 = [
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      rating: 2
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      rating: 4
    }
  ]

-
  var buttonCategories = ["Máy khoan", "Máy in 3D", "Máy CNC", "Máy tiện", "Máy khác"]

- 
  var homepageProductNew = ["./assets/images/imgs/product7.png","./assets/images/imgs/product8.png","./assets/images/imgs/product9.png"]

-
  var sellingProduct = ["./assets/images/imgs/product7.png","./assets/images/imgs/product8.png","./assets/images/imgs/product9.png","./assets/images/imgs/product10.png", "./assets/images/imgs/product1.png"]

- 
  var hotProduct = [
    {
      urlImg: "./assets/images/imgs/product2.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    }
  ]

-
  var partners = ["./assets/images/imgs/partner1.png","./assets/images/imgs/partner2.png","./assets/images/imgs/partner3.png","./assets/images/imgs/partner4.png", "./assets/images/imgs/partner5.png"]