- 
  var iconNav = ["fab fa-facebook-f", "fab fa-google-plus-g", "fab fa-instagram", "fab fa-twitter"]

- 
  var menuBar = [
    { name: "TRANG CHỦ", href: "/", isActive: true },
    { name: "GIỚI THIỆU", href: "/blog.html" },
    { name: "SẢN PHẨM", href: "/product.html" },
    { name: "TIN KHUYẾN MÃI", href: "/" },
    { name: "DỊCH VỤ", href: "/" },
    { name: "LIÊN HỆ", href: "/" },
  ]

-
  var footerBar = [
    {
      name: "VỀ CHÚNG TÔI",
      option: "4",
      list: [
        {
          des: "Công ty cổ phần công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử"
        },
        {
          des: "Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cần Ba Đình - Hà Nội",
          icon: "fas fa-map-marker-alt"
        },
        {
          des: "support@dkt.com.vn",
          icon: "fas fa-envelope"
        },
        {
          des: "(84-4) 66658868 - (84-4) 37868904",
          icon: "fas fa-mobile-alt"
        },
      ]
    },
    {
      name: "CHÍNH SÁCH",
      list: [
        {des:"Chính sách giao hàng"}, 
        {des:"Chính sách chuyển đổi sản phẩm"},  
        {des:"Chính sách bảo hành"}, 
        {des:"Chính sách trả góp"}, 
        {des:"Giới thiệu hàng đổi trả"}, 
        {des:"Vận chuyển miễn phí"}
      ]
    },
    {
      name: "DỊCH VỤ & HỖ TRỢ",
      list: [
        {des:"Hệ thống cửa hàng"},
        {des:"Hướng dẫn mua hàng"}, 
        {des:"Hướng dẫn thanh toán"}, 
        {des:"Tích điểm đổi thưởng"}, 
        {des:"Dịch vụ đổi trả hàng"}, 
        {des:"Câu hỏi thường gặp"}
      ]
    },
    {
      name: "TIN TỨC - SỰ KIỆN",
      list: [
        {des:"Tin tức mới nhất"}, 
        {des:"Tin tức khuyến mãi"},
        {des:"Tuyển dụng, đãi ngộ"},
        {des:"Download tài liệu"},
        {des:"Chương trình đối tác"},
        {des:"Nhà phát triển ứng dụng"}
      ]
    },
    {
      name: "KẾT NỐI",
      list: [
        { des: "Facebook", icon: "fab fa-facebook-f" },
        { des: "Google", icon: "fab fa-google-plus-g" },
        { des: "Instagram", icon: "fab fa-instagram" },
        { des: "Twitter", icon: "fab fa-twitter" },
        { des: "Skype", icon: "fab fa-skype" }
      ]
    }
  ]

-
  var banks = ["./assets/images/imgs/bank1.png","./assets/images/imgs/bank2.png","./assets/images/imgs/bank3.png","./assets/images/imgs/bank4.png","./assets/images/imgs/bank5.png","./assets/images/imgs/bank6.png","./assets/images/imgs/bank7.png","./assets/images/imgs/bank8.png"]

//- Homepage
- 
  var contentBanner = [
    {
      name: "MIỄN PHÍ VẬN CHUYỂN",
      des: "Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1000.000 Đ.",
      icon: "fas fa-plane-departure"
    },
    {
      name: "CHÍNH SÁCH ĐỔI TRẢ",
      des: "Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.",
      icon: "fas fa-sync-alt"
    },
    {
      name: "KHUYẾN MẠI HÀNG TUẦN",
      des: "Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mãi lớn.",
      icon: "fas fa-gift"
    },
    {
      name: "CAM KẾT CHÍNH HÃNG",
      des: "Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.",
      icon: "fas fa-thumbs-up"
    }
  ]

- 
  var sideBar = [
    {
      name: "Máy khoan, Cắt CNC",
      icon: "fas fa-th-large",
      isActive: true
    },
    {
      name: "Máy in phun khổ lớn",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy quét Cannon 3D",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy hàn điện Alunima",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan Decameta",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy phay đa năng CNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy mài, tiện DC 12V",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan, cắt DNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan thông minh N3",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Motor R34C đa dụng",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy in laser màu 3D",
      icon: "fas fa-th-large",
      isActive: false
    },
  ]

-
  var listProductHome1 = [
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      rating: 2
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      rating: 4
    }
  ]

-
  var buttonCategories = ["Máy khoan", "Máy in 3D", "Máy CNC", "Máy tiện", "Máy khác"]

- 
  var homepageProductNew = ["./assets/images/imgs/product7.png","./assets/images/imgs/product8.png","./assets/images/imgs/product9.png"]

-
  var sellingProduct = ["./assets/images/imgs/product7.png","./assets/images/imgs/product8.png","./assets/images/imgs/product9.png","./assets/images/imgs/product10.png", "./assets/images/imgs/product1.png"]

- 
  var hotProduct = [
    {
      urlImg: "./assets/images/imgs/product2.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    }
  ]

-
  var partners = ["./assets/images/imgs/partner1.png","./assets/images/imgs/partner2.png","./assets/images/imgs/partner3.png","./assets/images/imgs/partner4.png", "./assets/images/imgs/partner5.png"]

//- Product-page
-
  var sideBarProduct1 = [
    {
      name: "DANH MỤC SẢN PHẨM",
      icon: "fas fa-bars",
      isActive: true
    },
    {
      name: "Máy khoan, Cắt CNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy in phun khổ lớn",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy quét Cannon 3D",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy hàn điện Alunima",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan Decameta",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy phay đa năng CNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy mài, tiện DC 12V",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan, cắt DNC",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy khoan thông minh N3",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Motor R34C đa dụng",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Máy in laser màu 3D",
      icon: "fas fa-th-large",
      isActive: false
    },
  ]

-
  var sideBarProduct2 = [
    {
      name: "TÌM THEO MỨC GIÁ",
      icon: "fas fa-dollar-sign",
      isActive: true
    },
    {
      name: "0 - 200.000 Đ (45)",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "200.000 - 500.000 Đ (32)",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "500.000 - 1000.000 Đ (27)",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "1000.000 - 2000.000 Đ (16)",
      icon: "fas fa-th-large",
      isActive: false
    },
    {
      name: "Trên 2000.000 Đ (9)",
      icon: "fas fa-th-large",
      isActive: false
    }
  ]

-
  var sideBarProduct3 = [
    {
      name: "TÌM THEO MÀU SẮC",
      icon: "fas fa-paint-brush",
      isActive: true
    },
    {
      name: "Màu đỏ (45)",
      icon: "fas fa-square color-red",
      isActive: false
    },
    {
      name: "Màu vàng (32)",
      icon: "fas fa-square color-yellow",
      isActive: false
    },
    {
      name: "Màu xanh (27)",
      icon: "fas fa-square color-blue",
      isActive: false
    },
    {
      name: "Màu bạc (16)",
      icon: "fas fa-square color-sliver",
      isActive: false
    },
    {
      name: "Màu đen (9)",
      icon: "fas fa-square color-black",
      isActive: false
    }
  ]

-
  var sideBarProductSale = [
    {
      name: "SẢN PHẨM KHUYẾN MÃI",
      icon: "fas fa-gift",
      isActive: true
    },
    {
      name: "MÁY KHOAN BLACK DECKER LOẠI 1",
      urlImg: "./assets/images/imgs/product4.png",
      price: "1.550.000 Đ"
    },
    {
      name: "MÁY KHOAN BLACK DECKER LOẠI 1",
      urlImg: "./assets/images/imgs/product5.png",
      price: "1.550.000 Đ"
    },
    {
      name: "MÁY KHOAN BLACK DECKER LOẠI 1",
      urlImg: "./assets/images/imgs/product1.png",
      price: "1.550.000 Đ"
    },
    {
      name: "MÁY KHOAN BLACK DECKER LOẠI 1",
      urlImg: "./assets/images/imgs/product2.png",
      price: "1.550.000 Đ"
    },
    {
      name: "MÁY KHOAN BLACK DECKER LOẠI 1",
      urlImg: "./assets/images/imgs/product3.png",
      price: "1.550.000 Đ"
    },
  ]

- 
  var productPageList = [
    {
      urlImg: "./assets/images/imgs/product2.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product7.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product8.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product9.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
    {
      urlImg: "./assets/images/imgs/product10.png",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
    },
  ]

-
  var productGrid = [
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      rating: 2
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      rating: 2
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      rating: 2
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    },
    {
      urlImg: "./assets/images/imgs/product4.png",
      rating: 2
    },
    {
      urlImg: "./assets/images/imgs/product5.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product6.png",
      rating: 4
    }
  ]

//- Detail page
- 
  var groupMoreImages = [
    "./assets/images/imgs/product6.png",
    "./assets/images/imgs/product5.png",
    "./assets/images/imgs/product4.png",
    "./assets/images/imgs/product3.png",
    "./assets/images/imgs/product2.png"
  ]

-
  var descriptionProduct = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."

-
  var similarProduct = [
    {
      urlImg: "./assets/images/imgs/product1.png",
      rating: 4
    },
    {
      urlImg: "./assets/images/imgs/product2.png",
      rating: 3
    },
    {
      urlImg: "./assets/images/imgs/product3.png",
      rating: 5
    }
  ]

//- Blog-page
-
  var blogSideBar1 = [
    {
      icon: "fas fa-th-large",
      name: "DANH MỤC TIN TỨC",
      isActive: true
    },
    {
      name: "Đời sống pháp luật (5)",
      isActive: false
    },
    {
      name: "Kinh tế trong nước (8)",
      isActive: false
    },
    {
      name: "Sức khỏe và gia đình (9)",
      isActive: false
    },
    {
      name: "Công nghệ thông tin (5)",
      isActive: false
    },
    {
      name: "Tin tức khác (12)",
      isActive: false
    },
  ]

-
  var blogSideBar2 = [
    {
      name: "./assets/images/imgs/product1.png",
    },
    {
      name: "./assets/images/imgs/product2.png",
    },
    {
      name: "./assets/images/imgs/product3.png",
    },
    {
      name: "./assets/images/imgs/product4.png"
    },
    {
      name: "./assets/images/imgs/product5.png"
    },
    {
      name: "./assets/images/imgs/product6.png"
    },
  ]

-
  var blogSideBarTags = [
    {
      name: "thời trang",
      isActive: true
    },
    {
      name: "máy khoan"
    },
    {
      name: "news"
    },
    {
      name: "công nghiệp"
    },
    {
      name: "xây dựng"
    },
    {
      name: "phay"
    },
    {
      name: "máy cắt"
    },
    {
      name: "hóa chất"
    },
  ]

-
  var listBlogs = [
    {
      urlImg: "./assets/images/imgs/banner1.jpg",
      name: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      upLoadBy: "Design Team",
      numberCmt: "12",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...",
    },
    {
      urlImg: "./assets/images/imgs/banner2.jpg",
      name: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      upLoadBy: "Design Team",
      numberCmt: "12",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...",
    },
    {
      urlImg: "./assets/images/imgs/banner3.png",
      name: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      upLoadBy: "Design Team",
      numberCmt: "12",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...",
    },
    {
      urlImg: "./assets/images/imgs/banner1.jpg",
      name: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      upLoadBy: "Design Team",
      numberCmt: "12",
      des: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...",
    },
  ]

-
  var blogDetail = {
    urlImg: "./assets/images/imgs/banner1.jpg",
    name: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
    date: "Thứ năm, ngày 23/10/2015 8:00 AM",
    upLoadBy: "Design Team",
    numberCmt: "12",
    des: [
      "<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
      "<br/>",
      "<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
      `<div class="detail-img"><img src="./assets/images/imgs/banner2.jpg" class="mt-8 mb-8"></img></div>`,
      "<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
      "<br/>",
      "<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
      `<div class="detail-img"><img src="./assets/images/imgs/banner3.png" class="mt-8 mb-8"></img></div>`,
      "<p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
      "<br/>",
      "<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
      "<br/>",
      "<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>",
    ],
    comments: [
      {
        avatar: "./assets/images/imgs/avatar.jpg",
        name: "TRAN VAN ANH SON",
        date: "Thứ năm, ngày 23/10/2015 8:00 AM",
        cmtText: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged",
        reply: [
          {
            avatar: "./assets/images/imgs/avatar.jpg",
            name: "TRAN VAN ANH SON",
            date: "Thứ năm, ngày 23/10/2015 8:00 AM",
            cmtText: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged",
          }
        ]
      },
      {
        avatar: "./assets/images/imgs/avatar.jpg",
        name: "TRAN VAN ANH SON",
        date: "Thứ năm, ngày 23/10/2015 8:00 AM",
        cmtText: "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged",
        reply: [],
      },
    ]
  }

//- Shopping cart
-
  var cartShopping = [
    {
      name: "MÁY KHOAN CẮT CNC",
      quantity: 1,
      price: 2350000,
      img: "./assets/images/imgs/product1.png"
    },
    {
      name: "MÁY KHOAN CẮT CNC",
      quantity: 1,
      price: 2350000,
      img: "./assets/images/imgs/product3.png"
    },
    {
      name: "MÁY KHOAN CẮT CNC",
      quantity: 1,
      price: 2350000,
      img: "./assets/images/imgs/product2.png"
    },
  ]