$color-gray: rgb(248, 238, 238);
$color-black-light: rgb(196, 191, 191);
$color-yellow: rgb(255, 208, 0);
$color-white: white;
$color-black: black;
$color-red: red;
$color-blue: rgb(0, 4, 255);
$color-blue-dark: rgb(3, 6, 206);
$color-blue-light: rgb(103, 169, 255);