.notification 
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    p.alert__content Thêm vào giỏ hàng thành công
  </div>
  